{% extends "base.html" %}

{% block title %}Player Detail ({{ player.nickname }}){% endblock %}

{% block content %}
    <h1>Player Details</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <img src="{{ player.photo.url }}" alt="Player Photo" class="rounded mb-3" width="100%">
                    {% include 'players/messages.html' %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{{ '/players/' }}" class="btn btn-secondary float-right">Back</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item"><b>Name:</b> {{ player.name }}</li>
                <li class="list-group-item"><b>Nickname:</b> {{ player.nickname }}</li>
                <li class="list-group-item"><b>Position:</b> {{ player.position }}</li>
                <li class="list-group-item"><b>Phone:</b> {{ player.phone }}</li>
                <li class="list-group-item"><b>Email:</b> {{ player.email }}</li>
                <li class="list-group-item"><b>Favorite Team:</b> {{ player.favorite_team }}</li>
            </ul>
        </div>
    </div>
{% endblock %}


